- name: install and run nginx
  hosts: web
  become: yes
  tasks:
  - name: install nginx
    ansible.builtin.package:
      name: nginx
      state: present
  - name: start nginx
    anible.bbuiltin.service:
      name: nginx
      state: started
      enabled: yes
